/* App.css */
.App {
  display: flex;
  justify-content: space-around;
}
.body{
  background-color: bisque;
}
.box {
  width: 35%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 40px;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: aquamarine;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
